window {
    margin: 0px;
    background-color: #1e1e2e;
    border-radius: 8px;
    border: 2px solid #89b4fa;
}

#input {
    margin: 8px;
    padding: 8px;
    border: none;
    color: #cdd6f4;
    background-color: #313244;
    border-radius: 4px;
}

#inner-box {
    margin: 0 8px 8px 8px;
}

#entry {
    padding: 6px;
    color: #cdd6f4;
    border-radius: 4px;
}

#entry:selected {
    background-color: rgba(137, 180, 250, 0.2);
}
